body {
  font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ccab7f;
}

.container {
  display: block;
  background-color: rgb(236, 236, 236);
  text-align: center;
  border: solid rgb(0, 4, 10) 2px;
  width: 100%;
}
.formulario input {
  padding: 20px;
  margin: 20px;
  border: 2px solid rgb(8, 19, 29);
  border-radius: 4px;
  height: 25px;
  width: 100px;
  font-size: 40px;
}


.resultado{
  display: block;
  text-align: center;
  size: 20px;
  color: darkgoldenrod;
}

button {
  transition-duration: 0.4s;
  width: 10em;
  height: 4em;
}

button:hover {
  background-color: #20221b;
  color: white;
}